@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-satoshi font-normal text-base text-black-2 dark:text-bodydark2 bg-white relative z-1;
    }
}

html {
    scroll-behavior: smooth;
}

.drop-select{
    display: flex;
    outline: none;
    background: transparent !important;
}